@font-face {
    font-family: Roboto;
    src: url(./fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: Roboto-black;
    src: url(./fonts/Roboto-Black.ttf);
}

* {
    box-sizing: border-box;
}
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

.main-container{
    display: grid;
    height:100vh;
    background-color: aliceblue;
    grid-template-columns:  minmax(240px, 1fr) 5fr;
    grid-template-rows: 1fr 5fr;
}

.header{
    position:relative;
    z-index: 0;
    grid-area: 1 / 2 / 2 / -1; 
    background-color: white;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    box-shadow:1px 3px 5px #71717a;
    padding: 1rem;
}

.sidebar{
    /* font-family:roboto, sans-serif; */
    grid-area: 1 / 1 / -1 / 2;
    background-color: cornflowerblue;
    color:white;
    display: grid;
    grid-template-rows: auto auto 1fr;
    gap: 50px;
    padding: 1rem;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    gap: 15px;
}

.sidebar .dashboard-container {
    display: grid;
    grid-template-columns: 50px 1fr;
    font-size: 2rem;
    font-weight: 600;
    gap: 15px;
}

.dashboard-name {
    align-self: center;
}

/* .dashboard-container .image {
    background: url(./icons/view-dashboard.svg);
    fill: white;
    background-size:contain;
    
} */


.sidebar ul li {
    display: grid;
    grid-template-columns: 50px 1fr;
    font-size: 1.5rem;
    font-weight: 600;
    gap: 15px;
}

.sidebar ul li img {
    justify-self: center;
    align-self: center;

}

.sidebar ul li .menu-item {
    align-self: center;
}

.searchbar-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
    padding: 10px;
    
}

.search {
    /* background-color: yellow; */
    box-sizing: border-box;
    flex:1;
}

.search input {
    border-radius: 50px;
    background-color: #e4e4e7;
    border-style: none;
}

#search{
    width: 100%;
    height: 30px;
}

.profile-container {
    display: grid;
    grid-template-columns: 0.5fr 50px 1fr;
    align-content: center;
    align-items: center;
    justify-items: end;
    gap: 10px
}

.profile-container .profile-image-container img,
.profile-name-container .profile-image-container img,
.image img{
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}

.profile-name {
    /* min-width: 105px; */
    justify-self: start;
    font-size: 1.3rem;
}

.profile-container div,
.profile-name-container div {
    font-family: Roboto-black;
    font-weight: 900; 
}

.greetings {
    font-size: 1rem;
}


.profile-name-container {
    display: grid;
    grid-template-columns: 80px 1fr;
    grid-template-rows: auto auto;
    align-content: center;
    padding: 10px;
    align-items: center;
}

.profile-name-container .profile-image-container {
    grid-area: 1 / 1 / -1 / 2;
    align-self: center;
}

.profile-name-id {
    font-size: 1.5rem;
}

.buttons-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    padding: 10px;
    gap: 20px;
    justify-items: center;
    align-content: center;
}

.buttons {
    width: 100%;
    height: 50px;
    border-radius: 50px;
    border-style: none;
    background-color: #0ea5e9;
    color: white;
    font-size: 1rem;
    font-weight: 700;
}

.content-container {
    /* width: 100%; */
    display: grid;
    background-color: #e4e4e7;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto 1fr;
    gap: 25px;
    padding: 20px;
}

.projects {
    grid-area: 1 / 1 / -1 / 2;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;
}

.card {
    background-color: white;
    font-size: 1rem;
    color:#71717a;
    border-left-width: 10px;
    border-left-style: solid;
    border-left-color: orange;
    padding: 20px;
    display: grid;
    grid-template-rows: auto auto 1fr;
}

.card > h3 {
    font-weight: 700;
    font-size: 1.2rem;
    color:black
}

.announcments-container {
    display: grid;
    background-color: white;
    padding: 1.5rem;
    grid-template-columns: minmax(100px, 1fr);
    grid-template-rows: auto;
}

h3 {
    margin-bottom: 5px;
}

.announcment {
    
    background-color: white;
    font-size: 0.8rem;
    color:#71717a;
    /* text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap; */
    /* height: 100px; */
}

.announcment h3 {
    font-weight: 700;
    font-size: 1rem;
    color:black;
}

.trending-container {
    display: grid;
    background-color: white;
    padding: 1rem;
}

.trend {
    display: grid; 
    grid-template-columns: 50px 1fr;
    grid-template-rows: auto auto;
    align-content: center;
    padding: 10px;
    justify-items: start;
    column-gap: 10px;
}

.image {
    grid-area: 1 / 1 / -1 / 2;
    align-self: center;
}



.add-ellements {
    display: flex;
    justify-content: end;
    gap: 10px;
    margin-top: 20px;
    align-self: self-end;
}

.element {
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

.trend-id,
.trend-name {
    font-size: 0.9rem;
}

.trend-id {
    font-weight: bold;
}

.trend-name {
    color: #71717a;
}

.card,
.announcments-container,
.trending-container {
    border-radius: 10px;
}


